---
http_interactions:
- request:
    method: post
    uri: https://identity.api.rackspacecloud.com/v2.0/tokens
    body:
      encoding: UTF-8
      string: '{"auth":{"RAX-KSKEY:apiKeyCredentials":{"username":"<RACKSPACE_USERNAME>","apiKey":"<RACKSPACE_API_KEY>"}}}'
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - ''
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      Front-End-Https:
      - 'on'
    body:
      encoding: UTF-8
      string: '{"access":{"token":{"id":"AACdTycU80dtQHx0cXJOfkbuynDYO8O4RtVZ-iuXY0tLhQ8LX8f1eP_yDeyQ4IUzRqTQbcR2jivJCw7Ny3Zg7DfS8ykLUfzLwPvAOP8qhtccT8yCoaR_Ih5G","expires":"2016-03-08T15:38:30.621Z","tenant":{"id":"10028727","name":"10028727"},"RAX-AUTH:authenticatedBy":["APIKEY"]},"serviceCatalog":[{"name":"cloudFiles","endpoints":[{"region":"LON","tenantId":"MossoCloudFS_f8d9c13f-3983-451c-b980-d364d284738c","publicURL":"https:\/\/storage101.lon3.clouddrive.com\/v1\/MossoCloudFS_f8d9c13f-3983-451c-b980-d364d284738c","internalURL":"https:\/\/snet-storage101.lon3.clouddrive.com\/v1\/MossoCloudFS_f8d9c13f-3983-451c-b980-d364d284738c"}],"type":"object-store"},{"name":"cloudFilesCDN","endpoints":[{"region":"LON","tenantId":"MossoCloudFS_f8d9c13f-3983-451c-b980-d364d284738c","publicURL":"https:\/\/cdn3.clouddrive.com\/v1\/MossoCloudFS_f8d9c13f-3983-451c-b980-d364d284738c"}],"type":"rax:object-cdn"},{"name":"cloudBigData","endpoints":[{"region":"LON","tenantId":"10028727","publicURL":"https:\/\/lon.bigdata.api.rackspacecloud.com\/v1.0\/10028727","versionInfo":"https:\/\/lon.bigdata.api.rackspacecloud.com\/v1.0","versionList":"https:\/\/lon.bigdata.api.rackspacecloud.com\/","versionId":"1"},{"region":"LON","tenantId":"10028727","publicURL":"https:\/\/lon.bigdata.api.rackspacecloud.com\/v2\/10028727","versionInfo":"https:\/\/lon.bigdata.api.rackspacecloud.com\/v2","versionList":"https:\/\/lon.bigdata.api.rackspacecloud.com\/","versionId":"2"}],"type":"rax:bigdata"},{"name":"cloudDatabases","endpoints":[{"region":"LON","tenantId":"10028727","publicURL":"https:\/\/lon.databases.api.rackspacecloud.com\/v1.0\/10028727"}],"type":"rax:database"},{"name":"cloudImages","endpoints":[{"r[...]
